@use "../styles/base/common";

.nav-container {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.nav-containerLeft {
  padding-left: 150px;
  display: flex;
  align-items: center;
}

.nav-searchBar {
  width: 482px;
  height: 35px;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 0px solid #0000;
  display: flex;
  align-items: center;
  margin-left: 80px;
  //   flex-grow: 1;

  .searchImg {
    width: 18px;
    height: 18px;
    margin-left: 15px;
  }

  .nav-input {
    width: 482px;
    height: 24px;
    border: 0px solid #0000;
    font-family: "Pretendard-300";
    font-size: 15px;
    margin-left: 15px;
  }
}

.nav-containerRight {
  padding-right: 150px;
}

.nav-btn {
  display: flex;
}

.nav-btn-text {
  font-family: "Pretendard-600";
  font-size: 15px;
  margin-left: 50px;
  cursor: pointer;
}
