@use "../styles/base/common";

.tab-li {
  cursor: pointer;
  list-style: none;
}

.tab-menu {
  padding: 0.5rem;
  font-family: "Pretendard-600";
  display: flex;
}

.tab-li.active {
  color: common.$orange;
}

.tab-Wrapper {
  display: flex;
}

.srcImg {
  margin-left: 15px;
  height: 15px;
}
