@use "../base/common";

.guide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  gap: 40px;
  margin-top: 250px;
}

.guide-title {
  font-size: common.$xxl;
  transform: skewX(-30deg);
  color: common.$lightblue;
  font-family: "pretendard-900";
  margin-bottom: 20px;
}

.guide-contents {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 10px;
  font-family: "pretendard-400";
  font-size: common.$md;
  color: common.$gray;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #556bbb;
  width: 100%;
  font-size: common.$md;
  color: common.$darkblue;
  gap: 10px;
  font-family: "Pretendard-300";
  margin-top: 130px;
}

.footer-title {
  margin-top: 50px;
  color: common.$darkblue;
  font-size: common.$xl;
  font-family: "Pretendard-600";
}

.gitLink {
  background-color: transparent;
  cursor: pointer;
}
.gitLink:hover {
  color: common.$yellow;
}

.member {
  margin-bottom: 50px;
}
