@use "../base/common";

.main-container {
  margin: 130px 150px 0 150px;
}

.main-title {
  font-family: "pretendard-900";
  color: common.$blue;
  font-size: common.$xll;
  margin-bottom: 10px;
}

.main-body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.main-text {
  font-family: "pretendard-600";
  color: common.$blue;
  font-size: common.$xxxl;
}

.arrowImg {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

//반응형 적용 1481px

@media (max-width: 1481px) {
  .main-title {
    font-family: "pretendard-900";
    color: common.$blue;
    font-size: common.$xll;
    margin-bottom: 10px;
  }

  .main-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .main-text {
    font-family: "pretendard-600";
    color: common.$blue;
    font-size: common.$xxxl;
  }

  .arrowImg {
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
}

/* 화면이 950px 이하일 때 적용되는 스타일 */

@media (max-width: 950px) {
  .main-title {
    font-family: "pretendard-900";
    color: common.$blue;
    font-size: common.$md;
    margin-bottom: 10px;
    text-align: center;
  }

  .main-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-direction: column;
  }

  .main-text {
    font-family: "pretendard-600";
    color: common.$blue;
    font-size: common.$xl;
    margin-bottom: 10px;
  }

  .arrowImg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
