@use "../base/common";

.nav-container {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.head-container {
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

@mixin common($props) {
  display: flex;
  align-items: center;
  height: 35px;
  #{ $props }: 150px;
}

.nav-containerLeft {
  @include common(padding-left);
}

.nav-searchBar {
  width: 382px;
  height: 100%;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 0px solid #0000;
  display: flex;
  align-items: center;
  margin-left: 80px;
  flex-grow: 1;
  .searchImg {
    width: 18px;
    height: 18px;
    margin-left: 15px;
  }
  .nav-input {
    width: 100%;
    height: 24px;
    border: 0px solid #0000;
    font-family: "Pretendard-300";
    font-size: 15px;
    margin-left: 15px;
  }
}

.nav-local {
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 0px solid #0000;
  cursor: pointer;
  .mapImg {
    width: 20px;
    height: 18px;
    margin-left: 15px;
  }
  .local {
    font-family: "Pretendard-300";
    font-size: 15px;
    margin-left: 10px;
    color: common.$gray;
  }
}

.local-selected {
  height: 35px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  .selected {
    color: black;
    font-family: "pretendard-600";
    margin-left: 10px;
    margin-right: 10px;
  }
}

.localList-header {
  margin-bottom: 15px;
  font-family: "Pretendard-600";
  color: common.$darkblue;
}

.localList-wrapper {
  display: flex;
  font-family: "Pretendard-400";
  .list-title {
    text-align: left;
    margin-bottom: 6px;
    font-size: common.$xs;
    color: common.$blue;
  }
}

.sido-list {
  width: 160px;
  height: 140px;
  overflow-y: scroll;
  border: 1px solid common.$blue;
  font-size: common.$sm;
  cursor: pointer;
  border-radius: 5px;
}
.sido-list::-webkit-scrollbar {
  width: 5px;
}
.sido-list::-webkit-scrollbar-thumb {
  background-color: common.$blue;
  border-radius: 10px;
}
.sido-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.sigugun-list {
  width: 160px;
  height: 140px;
  overflow-y: scroll;
  border: 1px solid common.$blue;
  font-size: common.$sm;
  cursor: pointer;
  border-left: 0px;
  border-radius: 5px;
}
.sigugun-list::-webkit-scrollbar {
  width: 5px;
}
.sigugun-list::-webkit-scrollbar-thumb {
  background-color: common.$blue;
  border-radius: 10px;
}
.sigugun-list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.list-li {
  padding: 8px 20px;
}

.list-li.active {
  color: common.$blue;
  font-family: "Pretendard-600";
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}

.nav-containerRight {
  @include common(padding-right);
}

.nav-btn {
  display: flex;
}

.nav-btn-text {
  font-family: "Pretendard-600";
  font-size: common.$base;
  margin-left: 50px;
  cursor: pointer;
}
.nav-btn-text:hover {
  color: common.$orange;
}

.nav-mainbtn-text {
  font-family: "Pretendard-600";
  font-size: common.$base;
  margin-left: 50px;
  cursor: pointer;
  color: common.$blue;
}
.nav-mainbtn-text:hover {
  color: common.$yellow;
}

//반응형 적용 1481px

@media (max-width: 1481px) {
  .nav-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    margin-top: 30px;
  }

  @mixin common($props) {
    display: flex;
    align-items: center;
    height: 35px;
    #{ $props }: 50px;
  }

  .nav-containerLeft {
    @include common(padding-left);
  }

  .nav-searchBar {
    width: 382px;
    height: 100%;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px solid #0000;
    display: flex;
    align-items: center;
    margin-left: 80px;
    flex-grow: 1;
    .searchImg {
      width: 18px;
      height: 18px;
      margin-left: 15px;
    }
    .nav-input {
      width: 100%;
      height: 24px;
      border: 0px solid #0000;
      font-family: "Pretendard-300";
      font-size: 15px;
      margin-left: 15px;
    }
  }

  .nav-local {
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px solid #0000;
    cursor: pointer;
    .mapImg {
      width: 20px;
      height: 18px;
      margin-left: 15px;
    }
    .local {
      font-family: "Pretendard-300";
      font-size: 15px;
      margin-left: 10px;
      color: common.$gray;
    }
  }

  .local-selected {
    height: 35px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    .selected {
      color: black;
      font-family: "pretendard-600";
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .nav-containerRight {
    @include common(padding-right);
  }
}

/* 화면이 950px 이하일 때 적용되는 스타일 */

@media (max-width: 950px) {
  .nav-container {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    margin-top: 60px;
  }

  @mixin common($props) {
    display: flex;
    align-items: center;
    height: 35px;
    #{ $props }: 50px;
  }

  .nav-containerLeft {
    @include common(padding-left);
  }

  .nav-searchBar {
    width: 220px;
    height: 100%;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 0px solid #0000;
    display: flex;
    align-items: center;
    margin-left: 40px;
    flex-grow: 1;
    .searchImg {
      width: 18px;
      height: 18px;
      margin-left: 15px;
    }
    .nav-input {
      width: 100%;
      height: 24px;
      border: 0px solid #0000;
      font-family: "Pretendard-300";
      font-size: 15px;
      margin-left: 15px;
    }
  }

  .nav-local {
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.25);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px solid #0000;
    cursor: pointer;
    .mapImg {
      width: 20px;
      height: 18px;
      margin-left: 15px;
    }
    .local {
      font-family: "Pretendard-300";
      font-size: 15px;
      margin-left: 10px;
      color: common.$gray;
    }
  }

  .local-selected {
    height: 35px;
    display: none;
    align-items: center;
    margin-left: 10px;
    .selected {
      color: black;
      font-family: "pretendard-600";
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .nav-containerRight {
    @include common(padding-right);
  }
}
