@use "../base/common";

.search-container {
  margin: 130px 150px 0 150px;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.search-head {
  font-family: "pretendard-900";
  color: common.$blue;
  font-size: common.$xll;
  margin-bottom: 10px;
}

.search-error {
  color: common.$lightblue;
  font-family: "pretendard-600";
  font-size: common.$xll;
}
