@use "../base/common";

.verification-container {
  @extend %auth-container;
}

.verification-form {
  @extend %auth-form;
}

.verification-title {
  @extend %auth-title;
}

.verification-errors {
  @extend %auth-errors;
}

.verification-p {
  color: red;
  font-size: small;
  text-align: center;
}
